@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Oi&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* Design tokens */
    --color-orange: #b26b25;
    --color-cream: #f6f5de;
    --color-cream-dark: #efeed4;
    --color-brown: #110000;
    --color-blue-light: #66ccff;
    --color-blue-dark: #0d004c;

    /* Typography */
    --font-family-body: "Lexend Exa", serif;
    --font-family-title: "Oi", serif;
    --font-weight-title: 400;

    --font-size-body: 2rem;

    /* Box Shadow */
    --box-shadow: 0 20px 0 -5px var(--color-blue-dark), 0 40px 0 -10px #66ccff,
    0 60px 0 -16px #dedcb9;

    /* Layout */
    --l-max-width: 50rem;
}

body {
    background: var(--color-orange);
    color: var(--color-cream);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    margin: 0;
    padding: 3rem 0 0;
}

img {
    max-width: 100%;
    height: auto;
}


.logo {
    font-family: var(--font-family-title);
    font-size: 20vw;
    font-weight: var(--font-weight-title);
    line-height: 0.85;
    margin: 1rem 0 0;
    text-align: center;
    text-transform: lowercase;
    text-shadow: 0 2vw 0 var(--color-blue-dark);
}

.bio {
    text-align: center;
}

.album-art {
    display: block;
    border: 10px solid var(--color-brown);
    box-shadow: var(--box-shadow);
    margin-bottom: 12rem;
}

.l-container {
    max-width: var(--l-max-width);
    margin: 0 auto;
}